.experience-timeline{
    position: relative;
    width: 60%;
}

.experience-timeline .experience-box{
    position: relative;
    background: #f2f2f2;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 0.5px #c2c2c2;
    margin-bottom: 50px;
    width: 100%;
}

.experience-timeline .experience-box:last-child{
    margin-bottom: 0px;
}

@media only screen and (min-width: 768px){
    .experience-timeline:before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 2px;
        background: #e6e6e6;
    }

    .experience-timeline .experience-box:before{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background: #e3e3e3;
    }

    .experience-timeline .experience-box{
        width: 50%;
    }

    .experience-timeline .experience-box:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-100px);
    }
    
    .experience-timeline .experience-box:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(100px);
    }

    .experience-timeline .experience-box:nth-child(odd):before{
        right: -100px;
        transform: translate(50%, -50%);
    }
    
    .experience-timeline .experience-box:nth-child(even):before{
        left: -100px;
        transform: translate(-50%, -50%);
    }
}


